<div class="news">
  <ul>
    <li><b>09.2024</b> Ours paper LiveScene is accepted at Neurips 2024! </li>
    <li><b>05.2024</b> We integrated KAN into NeRF 😆 and conducted a preliminary evaluation. 🔗 <a href="https://t.co/5cus4thPrT">https://t.co/5cus4thPrT</a> | <a href="https://github.com/Tavish9/KANeRF">https://github.com/Tavish9/KANeRF</a></li>
    <li><b>02.2024</b> <b style='color:red;'>Two CVPR Highlight Papers</b> are accepted at CVPR 2024! Details below.</li>
    <li><b>10.2023</b> I won the <b>Tencent Scholarship</b> in 2023! </li>
    <li><b>06.2023</b> A paper is accepted at <b>ICCV</b> 2023! Details below.</li>
    <li><b>06.2023</b> A paper is accepted at <b>TPAMI</b> 2023! Details below.</li>
    <li><b>03.2023</b> A paper is accepted at <b>CVPR</b> 2023! Details below.</li>
 </ul>
</div>
