<div class="news">
  <ul>
    <li><blockquote class="twitter-tweet"><p lang="en" dir="ltr">We integrated KAN into NeRF 😆 and conducted a preliminary evaluation. Under the same network settings, KAN slightly outperforms MLP in novel view synthesis but is significantly slower than MLP. 🔗 <a href="https://t.co/5cus4thPrT">https://t.co/5cus4thPrT</a> <a href="https://t.co/4g8PjTyXxy">pic.twitter.com/4g8PjTyXxy</a></p>&mdash; Delin Qu (@delin_qu23107) <a href="https://twitter.com/delin_qu23107/status/1787827594488160612?ref_src=twsrc%5Etfw">May 7, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
    <li><b>02.2024</b> <b>Two CVPR Highlight Papers</b> are accepted at CVPR 2024! Details below.</li>
    <li><b>10.2023</b> I won the <b>Tencent Scholarship</b> in 2023! </li>
    <li><b>06.2023</b> A paper is accepted at <b>ICCV</b> 2023! Details below.</li>
    <li><b>06.2023</b> A paper is accepted at <b>TPAMI</b> 2023! Details below.</li>
    <li><b>03.2023</b> A paper is accepted at <b>CVPR</b> 2023! Details below.</li>
 </ul>
</div>